*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: lightblue;
    border-radius: 25px;
}
header{
    background-color: brown;
    margin-bottom: 5px;
    border: solid 2px;
    text-align: center;
    padding: 4%;
    border-radius: 25px;
}


.article{
  
  
    height: 500px;
    margin-bottom: 7px;
    text-align: center;
    overflow: hidden;
    border-radius: 25px;

}
.nav{
    background-color: darkolivegreen;
    margin-right: 8px;
    border: solid 2px;
    float: left;
    width: 29%;
    height: 500px;
    border-radius: 25px;
    
}
.center{
    background-color: rgb(218, 148, 18);
    margin-right: 8px;
    border: solid 2px;
    float: left;
    width: 40%;
    height: 500px;
    border-radius: 25px;
}
.header{
    background-color: cyan;
    margin-top: 5px;
    border: solid 2px;
    height: 20%;   
    border-radius: 25px;
}
.middle{
    background-color: rgb(212, 0, 255);
    margin-top: 8px;
    border: solid 2px;
    height: 40%;   
    border-radius: 25px;
}
.footer{
    background-color: darkblue;
    margin-top: 6px;
    border: solid 2px;
    height: 20%;
    border-radius: 25px;
}
.aside{
    background-color: rgb(76, 24, 197);
    border: solid 2px;
    float: right;
    width: 29%;
    height: 500px;
    border-radius: 25px;
}
footer{
    background:yellowgreen;
    text-align: center;
    margin-top: 5px;
    padding: 10px;
    border: solid 2px;
    border-radius: 25px;
    padding: 4%;
    }
